.footer {
  background: #263640;
  color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1216px;
  margin: 0 auto;
}

.footer__logo {
  padding-top: 83px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__author {
  width: 157px;
  h4 {
    padding: 64px 0 8px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer__address {
  width: 109px;
  margin-left: 144px;
  .footer__title {
    padding: 64px 0 8px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }
  .footer__text {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer__line {
  width: 100%;
  padding-top: 64px;
}

.footer__line:after {
  display: block;
  content: "";
  background-color: #ffffff;
  height: 1px;
  opacity: 0.2;
}

.footer__subtitle {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
  span {
    padding-right: 9px;
  }
}
